.page img {
    width: 70%;
    height: 188px;
    object-fit: cover;
}

aside h2 {
    margin-top: 50px;
}
 button{
    width: 8rem;
    background-color: lightgreen;
    padding: 5px 10px;
    cursor: pointer;
}