.page img {
    width: 70%;
    height: 188px;
    object-fit: cover;
    border: 2px outset lightskyblue;
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
    margin-left: 25px;
}

aside h2 {
    margin-top: 50px;
}

section div {
    border: 2px outset lightskyblue;
    border-radius: 2rem;
    width: 6rem;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.page img:hover {
    transform: scale(1.4);
}

.ancer{
    margin-left: 350px;
}
div a:hover{
    color: #0008FF;
}