/* KleurenPallet*/
:root {
    /* CSS HEX */
    --lavender-web: #e5e1eeff;
    --powder-blue: #90bedeff;
    --black: #000500ff;
    --light-cyan: #e2fdffff;
    --alice-blue: #e8f1f2ff;
}

/*  titels verbergen */
.hiddenTitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}
body {
    background-color: var(--alice-blue);
    width: 95%;
    margin: auto;
    padding-top: 0.5em;
    font-size: 16px;

}
#menu ul {
    /* flexbox */
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
}

nav li a:hover{
    color: var(--black)
}

#menu ul ul{
    flex-direction: column;
}
#menu .submenu ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}
#menu .submenu:hover ul{
    display: flex;
}


#menu li {
    background-color: var(--powder-blue);
    color: var(--black);
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    text-align: center;
    flex-grow: 1;
    position: relative;

}
nav {
    display: flex;
    align-items: center;
    width: 100%;
}


#logo {
    display: block;
    padding: 1em;
    width: auto;
    height: 100%;
}
