/* KleurenPallet*/
:root {
    /* CSS HEX */
    --lavender-web: #e5e1eeff;
    --powder-blue: #90bedeff;
    --black: #000500ff;
    --light-cyan: #e2fdffff;
    --alice-blue: #e8f1f2ff;
    --baby-blue: #E4F4F3;
}

/*  titels verbergen */
.hiddenTitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}
body {
    background-color: var(--baby-blue);
    width: 95%;
    margin: auto;
    padding-top: 0.5em;
    font-size: 16px;
    font-family: "Montserrat" ,"sans-serif";

}

#menu ul {
    /* flexbox */
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
}

nav li a:hover{
    color: red;
}
#menu ul ul{
    flex-direction: column;
}
#menu .submenu ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}
#menu .submenu:hover ul{
    display: flex;
}
#menu li {
    background-color: var(--powder-blue);
    color: var(--black);
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    text-align: center;
    flex-grow: 1;
    position: relative;

}
.breadcrumbs  {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: left;
    flex-grow: 1;
}
.breadcrumbs li{
    display: inline-block;
    background-color: var(--powder-blue);
    color: var(--black);
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    text-align: center;
    flex-grow: 1;
    margin-right: -5px;
    list-style: none;
    transition: background-color 0.3s ease;
}
section ol li a:hover{
    color: red;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
}
#logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
footer {
    display: flex;
    justify-content: space-around;
}
.footer-item {
    text-align: left;
    flex: 1;
    padding: 10px;
}
.reviewBody{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.review img{
    width: auto;
    height: auto;
    object-fit: cover;
}
.reviewBody li {
    list-style: none;
    padding: 0;
}

.page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    box-sizing: border-box;

}
.pageText {
     margin: 0;
 }
.pageBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.textAlignCenter{
    text-align: center;
}
.displayFlex{
    display: flex;
}
.margeBottom{
    margin-bottom: 50px;
}
.margeTop{
    margin-top: 20px;
}

form label {
    margin-bottom: 20px;
    margin-top: 20px;
}
